<div class="container-fluid">
  <h1>Tab Demo Application</h1>
  <button mat-stroked-button (click)="addNewTab()">Add new tab</button>

  <mat-tab-group
    class="main-tab-group mt-2"
    [selectedIndex]="selectedTab"
    (selectedTabChange)="tabChanged($event)"
  >
    <mat-tab *ngFor="let tab of tabs; let tabIndex = index">
      <ng-template mat-tab-label
        >{{ tab.title }}
        <i class="material-icons" (click)="removeTab(tabIndex)">
          close
        </i>
      </ng-template>

      <div>
        <app-tab-content [tab]="tab"></app-tab-content>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
